[submodule "astro"]
	path = astro
	url = https://github.com/SmashMex1369/astro.git
[submodule "django"]
	path = django
	url = https://github.com/SmashMex1369/django.git
[submodule "next"]
	path = next
	url = https://github.com/SmashMex1369/next.git
[submodule "angular"]
	path = angular
	url = https://github.com/SmashMex1369/angular.git
